html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
 margin: 0 auto;
 height: 100vh; 
 width: 100vw; 
}

.main{
  height: 85vh;
  overflow:auto;
}

/* side menu */

.Navbar{
    background-color: #202538;
    height: 85vh;
    width:15%;
    float: left; 
}

.navmenu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;  
}
  
.navmenu ul li a {
  color: #7d859c;
  padding: 10px 15px 10px 15px;
  display: block;
  text-decoration: none;
      
} 
  
.navmenu ul li a:hover {
  background-color: #16a4fa;
  color: #ffffff;
}

.menu-icon {
  padding-right: 10px;
}

/* top menu */

.navbartop{
  height:8vh; 
  background-color: #303549;
  font-size: 0.85em;
  position: relative;
 }
 
 .name {
  text-align: center;
  margin: 0;
  color: #7d859c;
  padding-top: 15px;
}

.topmenu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}

.topmenu li {
  float: left;
  height: 100%;
  box-sizing: border-box;
  display: table;
}

.topmenu li:hover {
  background-color: #202538;
}

.topmenu li a {
  color: #ffffff;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 10px 5px 10px 5px;
  text-decoration: none;
}

 /* footer */

 .footer{
 background: #181e2c;
 height: 7vh;
 clear: both;
 }

/* books */

.listOfBooks {
  box-sizing: border-box;
  display: flex;
  padding: 20px;
  text-align: left;
}

.listOfBooks div{
  padding-right: 10px;
}

.listOfBooks p {
  margin: 0;
}

img {
  border-radius: 5px;
}

/* forms */

.addAdmin, .addSeller, .addBook{
  box-sizing: border-box;
  display: flex;
  padding: 20px;
  text-align: left;
}

/* users list  */

.users{
  box-sizing: border-box;
  padding: 20px;
}

table, th{
  text-align: center;
}

.glyphicon{
border: none;
background-color: #fff;
}

.input td input{
  border-style: none;
}


button.invisible {
  display: none;
}

button.disabled {
  color: gray;
}

.input td input.inEditMode {
  border: 1px solid red;
}
