html {
    box-sizing: border-box;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    width: 30%;
    text-align: center;
    padding: 5px;
}

table {
    margin-left: 25px;
}

h1 {
    margin-left: 250px;
    padding-bottom: 20px;
}

button {
    width: 4em;
}

button.invisible {
    display: none;
}

button.disabled {
    color: gray;
}

input.inEditMode {
    border: 1px solid red;
}